*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(https://cdn.pixabay.com/photo/2019/06/09/21/54/santorini-4263036_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
}